<div class="game-purchase-display">
  <%= image_tag @game_purchase.game.img_url, class: 'col-md-2' %>
  <% if @library.user == current_user %>
    <%= link_to "Remove Game", library_game_purchase_path(@library, @game_purchase), method: :delete, class: 'btn btn-warning pull-right' %>
  <% end %>
  <p class='genre'><strong>Genre:</strong><%= @game_purchase.game.genre %></p>
  <p class="game-description"><%= @game_purchase.game.description %></p>
  <% if @library.user == current_user %>
    <%= form_for @game_purchase, url: {action: "update"}, html: {class: "review col-md-6"}, method: "put" do |f| %>
      <%= f.text_area :review, class: 'review-area', placeholder: "Write a review for this game..." %>
      <%= f.label :rating %>
      <%= f.select(:rating, ['-',0,1,2,3,4,5]) %>
      <%= f.submit "Post Review", class: 'btn btn-success pull-right' %>
    <% end %>
  <% else %>
    <div class="submitted-review col-md-6">
      <% if @game_purchase.review %>
        <%= @game_purchase.review %>
      <% else %>
        <p><%=@library.user.username%> hasn't left a review yet. Leave a comment and tell them to!</p>
      <% end %>
    </div>

  <% end %>
  <div class="review-score col-md-4">
    <h3><%= @library.user.username%>'s Score</h3>
    <% if @game_purchase.rating %>
      <% @game_purchase.rating.times do %>
        <%= image_tag "star.png", size: 80 %>
      <% end %>
    <% else %>
      <p>No rating assigned yet!</p>
    <% end %>
  </div>
</div>


<div class="comment-section col-md-6">

  <% @game_purchase.comments.each do |comment| %>
    <div class="comment <%= cycle("odd", "even") %>">
      <div class="commenter">
        <%= image_tag comment.user.gravatar_url, size: 30 %>
        <%= link_to comment.user.username, user_path(comment.user.id) %>
      </div>
      <%= comment.body %>
      <div class="comment-time">
        <%= comment.created_at.strftime("%m/%d %l:%m") %>
      </div>
    </div>
  <% end %>

  <%= form_for @comment, url: library_comments_path do |f| %>
    <%= f.text_area :body, placeholder: "Leave a comment..." %>
    <%= f.submit "Leave Comment", class: 'btn btn-success pull-right' %>
  <% end %>
</div>
