<div class="game-purchase-display">
  <%= image_tag @game_purchase.game.img_url, class: 'col-md-2' %>
  <%= link_to "Remove Game", library_game_purchase_path(@library, @game_purchase), method: :delete, class: 'btn btn-warning pull-right' %>
  <p class='genre'><strong>Genre:</strong><%= @game_purchase.game.genre %></p>
  <p class="game-description"><%= @game_purchase.game.description %></p>
  <%= form_for @game_purchase, url: {action: "update"}, html: {class: "review col-md-6"}, method: "put" do |f| %>
    <p><h3>Post a review for this game.</h3></p>
    <%= f.text_area :review, class: 'review-area' %>
    <%= f.label :rating %>
    <%= f.select(:rating, ['-',0,1,2,3,4,5]) %>
    <%= f.submit "Post Review", class: 'btn btn-success pull-right' %>
  <% end %>
</div>

<div class="comment-section col-md-6">
  <% @game_purchase.comments.each do |comment| %>
    <div class="comment <%= cycle("odd", "even") %>">
      <div class="commenter">
        <%= image_tag comment.user.gravatar_url, size: 30 %>
        <%= link_to comment.user.username, library_path(comment.user.library.id) %>
      </div>
      <%= comment.body %>
      <div class="comment-time">
        <%= comment.created_at.strftime("%m/%d %l:%m") %>
      </div>
    </div>
  <% end %>
  <%= form_for @comment, url: library_comments_path do |f| %>
    <%= f.text_area :body, placeholder: "Leave a comment..." %>
    <%= f.submit "Leave Comment", class: 'btn btn-success pull-right' %>
  <% end %>
</div>
