<div class="search">
  <%= form_tag '/users', method: :get do %>
    <%= text_field_tag :q, params[:q], placeholder: "Search..." %>
  <% end %>
  <%= link_to "Clear Search", users_path, class: "btn btn-default clear-search" %>

</div>

<div class="section row">
  <h3>People you follow</h3>
  <% current_user.active_relationships.pluck(:followed_id).each do |id| %>
    <%= render partial: "userthumb", locals: {id: id} %>
  <% end %>
</div>

<div class="row section">
  <% if @results %>
    <h3>Searched Users</h3>
  <% else %>
    <h3>All Users</h3>
  <% end %>
  <% @users.each do |user| %>
    <%= render partial: "userthumb", locals: {id: user.id} %>
  <% end %>
</div>
