<div class="col-md-2">
  <%= image_tag @user.gravatar_url %>
  <p>Following: <%= num_following %></p>
  <p>Followers: <%= num_followers %></p>

  <%if @user != current_user %>
    <%= render partial: "relationshipmod", locals: {user: @user} %>
  <% end %>
</div>


<div class="col-md-6 prof-info">
  <h2><%= link_to "Go to #{@user.username}'s Library", library_path(@user.library.id) %></h2>
  <h4>Recent Activity</h4>
  <div class="section">
    <% @user.events.order(created_at: :desc).first(10).each do |event| %>
      <div class="event">
        <p class="event-summary-prof">
          <%= link_to event.user.username, user_path(event.user.id)%>
          <%= event.action %>
          <% unless event.commentee %>
            <%= link_to event.game_purchase.game.title, library_game_purchase_path(event.user.library.id, event.game_purchase.id) %>
          <% else %>
            <%= link_to "#{User.find(event.commentee).username}'s ", User.find(event.commentee)%> copy of <%= link_to event.game_purchase.game.title, library_game_purchase_path(User.find(event.commentee).library.id, event.game_purchase.id) %>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div>
