<div class="col-md-2">
</div>
<div class="col-md-7 events section">
  <h3>Recent Activity</h3>
  <% @events.order(created_at: :desc).first(20).each do |event| %>
    <div class="event">
      <%= image_tag event.user.gravatar_url, size: 30 %>
      <%= render partial: "event", locals: {event: event} %>
    </div>
  <% end %>
</div>

<div class="col-md-2 section highlighted-users">
  <h3>Most Active follows</h3>
  <% current_user.following.all.first(5).each do |user| %>
    <div class="highlighted-user">
      <%= render partial: "followed", locals: {user: user} %>
    </div>
  <% end %>
  <div>
    <h3>Popular Users</h3>
    <% @users.all.first(5).each do |user| %>
      <% if user != current_user %>
        <div class="highlighted-user">
          <%= image_tag user.gravatar_url, size: 30 %>
          <p><%= link_to user.username, user_path(user.id) %></p>
          <%= render partial: "relationshipmod", locals: {user: user} %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
