<div class="col-md-2">
</div>
<div class="col-md-7 events section">
  <h3>Recent Activity</h3>
  <% @events.order(created_at: :desc).first(20).each do |event| %>
    <div class="event">
      <%= image_tag event.user.gravatar_url, size: 30 %>
      <%= render partial: "event", locals: {event: event} %>
    </div>
  <% end %>
</div>

<div class="col-md-2 section highlighted-users">
  <h3>Most Active follows</h3>
  <% most_active_followings.each do |relation| %>
    <div class="highlighted-user">
      <%= render partial: "followed", locals: {user: User.find(relation.id)} %>
    </div>
  <% end %>
  <div>
    <h3>Popular Users</h3>
    <% biggest_users.each do |relation| %>

      <div class="highlighted-user">
        <%= image_tag User.find(relation.id).gravatar_url, size: 30 %>
        <p><%= link_to User.find(relation.id).username, user_path(User.find(relation.id)) %></p>
        <% if User.find(relation.id) != current_user %>
          <%= render partial: "relationshipmod", locals: {user: User.find(relation.id)} %>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
