
<div class="library-control">
  <%= link_to "Add Some Games", companies_path, class: "btn btn-success pull-right" %>
  <%= form_for @library do |f| %>
    <%= f.label :style %>
    <%= f.select(:style, Library::STYLE) %>
    <%= f.submit "OK" %>
  <% end %>
</div>

<div class="search">
  <%= form_tag "/libraries/#{@library.id}/edit", method: :get do %>
    <%= text_field_tag :q, params[:q], placeholder: "Search..." %>
  <% end %>
  <%= link_to "Clear Search", edit_library_path(@library.id), class: "btn btn-default clear-search" %>

</div>

<% if @found_games %>
  <h4 class="underline">Search Results</h4>
  <div class="found-games">
    <% @found_games.each do |game| %>
      <div class="found-game col-sm-2">
        <p><%= link_to game.title, library_game_purchase_path(@library.id, my_copy_of(game).id) %></p>
        <%= image_tag game.img_url, size: 40 %>
      </div>
    <% end %>
  </div>
<% end %>

<% if no_games? %>
  <p> Looks like your library is empty! </p>
<% else %>
  <% if @library.Games? %>
    <% @library.games.order(:title).each do |game| %>
      <div class="col-sm-3 game-list">
        <%= link_to game.title, library_game_purchase_path(@library.id, my_copy_of(game).id) %>
      </div>
    <% end %>
  <% else %>
    <% @library.systems.each do |system| %>
      <div class="col-md-4">
        <p class="system-sort"><%=link_to system.name, library_system_purchase_path(@library.id, my_system(system).id) %></p>
        <ul>
          <% system.games.where(id: @library.games.pluck(:id)).each do |game| %>
            <li><%= link_to game.title, library_game_purchase_path(@library.id, my_copy_of(game).id) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>
