
<%= form_for @library do |f| %>
  <%= f.label :style %>
  <%= f.select(:style, Library::STYLE) %>
  <%= f.submit "OK" %>
<% end %>

<% if @library.games.empty? && @library.systems.empty? %>
  <p> Looks like your library is empty! </p>
<% else %>
  <% if @library.Games? %>
    <% @library.games.each do |game| %>
      <div>
        <%= game.title %>
      </div>
    <% end %>
  <% else %>
    <% @library.systems.each do |system| %>
      <div>
        <%= system.name %>
        <ul>
          <% system.games.where(id: @library.games.pluck(:id)).each do |game| %>
            <li><%= game.title %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= link_to "Add Some Games", companies_path, class: "btn btn-success" %>
<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
