
<% if no_games? %>
  <p> Looks like this library is empty! </p>
<% else %>
  <div class="system-nav-list">
    <p>Jump to:</p>
    <% @library.systems.each do |system| %>
      <div class="col-md-1">
        <%= link_to system.name, library_path(@library.id)+"##{system.name}" %>
      </div>
    <% end %>
  </div>
  <% @library.systems.each do |system| %>
    <h3 class="system-name" id="<%=system.name%>"><%=system.name%><%=image_tag system_logo_hash[system.name], size: 50 %></h3>
    <div class="bookcase">
      <% system.games.where(id: @library.games.pluck(:id)).each do |game| %>
        <div class="col-md-3 shelf">
          <%= link_to (image_tag game.img_url, class: 'showcase'), library_game_purchase_path(@library.id, my_copy_of(game).id) %></li>
        </div>
      <% end %>
      <%= render partial: "shelves", locals: {system: system} %>
    </div>
  <% end %>

<% end %>
