<div class="jumbotron main">
  <h1> Welcome to disPlay. </h1>
  <h3> Every game. Every platform. One location. </h3>
  <% if current_user %>
    <%= link_to "Start Building Your Collection", companies_path %>
  <% else %>
    <p><%= link_to "Sign In", new_user_session_path %> to get started</p>
  <% end %>
</div>

<div class="selling-points">
  <div class="point col-md-4">
    <h3> Share your personal library like never before.
    </h3>
    </br>
    <%= image_tag "library.png", class: "selling-point" %>

  </div>
  <div class="point col-md-4">
    <h3>
      Follow your friends to keep up with the hottest games.
    </h3>
    </br>
    <%= image_tag "collaboration.jpg", class: "selling-point" %>
  </div>
  <div class="point col-md-4">
    <h3>
      Discover your new favorite franchise with disPlay.
    </h3>
    </br>
    <%= image_tag "main.png", class: "selling-point" %>
  </div>
</div>

<footer>
  <%= link_to "Contact", welcome_contact_path %>
</footer>
