
<div class="game-display">
  <%= image_tag @game.img_url, class: 'col-md-2' %>
  <% if user_owns_system(@system) %>
    <% if user_owns_game(@game) %>
      <div class="pull-right ownership-notice">
        <p><%=link_to "#{@game.title} is in your Library!", library_game_purchase_path(current_user.library.id, this_copy_of(@game).id)%></p>
      </div>
      <% else %>
      <%= link_to "Add to Library", system_game_game_purchases_path(@system, @game), method: :post, class: 'btn btn-success pull-right' %>
    <% end %>
  <% else %>
    <%= link_to "Add the #{@system.name} to your Library in order to add this game", @system, class: 'btn btn-success pull-down' %>
  <% end %>
  <div class="col-md-8">
    <p class='genre'>Genre:<%= @game.genre %></p>
    <p class="game-description"><%= @game.description %></p>
    <div class="review-notice">
      <h4>Average review score for this game by people you follow:</h4>
      <% if avg_review_score(@game) %>
        <% avg_review_score(@game).times do%>
          <%=image_tag "star.png" %>
        <% end %>
      <% else %>
        <p> None of the people you follow have rated this game!</p>
      <% end %>
    </div>
  </div>
</div>
