<div class="system-info">
  <% if user_owns_system(@system) %>
    <div class="pull-right ownership-notice">
      <p>The <%= "#{@system.name}"%> is in your Library!</p>
    </div>
  <% else %>
    <%= link_to "Add the #{@system.name} to Your Library", system_system_purchases_path(@system), method: :post, class: 'btn btn-success pull-right' %>
  <% end %>
  <%= image_tag @system.img_url, class: "system-image" %>
  <p class="system-details"><%= @system.description %></p>
</div>
<% @system.games.each do |game|%>
  <div class="col-md-4 box-art">
    <%= link_to (image_tag game.img_url, class: 'game-thumbnail'), system_game_path(@system, game)%>
  </div>
<% end %>
