<!DOCTYPE html>
<html>
  <head>
    <title>DisPlay</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <div class="nav">
      <p class="home"><%= link_to (image_tag 'logo.png', class: 'nav-home'), root_path %></p>
      <p class="nav-link"><%= link_to "Browse Games", companies_path %></p>
      <p class="nav-link"><%= link_to "Social", users_social_path %></p>
      <p class="nav-link"><%= link_to "All Users", users_path %></p>
      <% if current_user %>
        <p class="nav-link"><%= link_to "Your Library", library_path(current_user.library.id) %></p>
      <% end %>
      <% if controller_name != 'sessions' && controller_name != 'registrations' %>
        <% if user_signed_in? %>
          <p class='sign-in-status pull-right'>Signed in as: <strong><%= link_to current_user.username, users_account_path %></strong> - <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'%></p>
        <% else %>
          <div class="sign-up-status pull-right">
            <%= form_for(:user, url: user_session_path) do |f|%>
              <%= f.label :email %>
              <%= f.email_field :email %>

              <%= f.label :password %>
              <%= f.password_field :password %>
              <%= f.submit "Sign In"%>
            <% end %>
            <p>Not a member? <%= link_to "Sign Up", new_user_registration_path %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <%= yield %>
    </div>

  </body>
</html>
